@model HELPERS.Models.Preguntas
@{
    ViewBag.Title = "Datos";
}

<h2>Datos</h2>
<center>
    <h2>Resultado</h2>
    </center>
    
    <table border="1" width="100" >
        <thead>
            <tr>
                <td>Cedula</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Edad</td>
                <td>Correo</td>
                <td>Genero</td>
                <td>Estado Civil</td>
                <td>Hobbys</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Cedula</td>
                <td>@Model.Nombre</td>
                <td>@Model.Apellido</td>
                <td>@Model.Edad</td>
                <td>@Model.Correo</td>
                <td>@Model.Genero</td>
                <td>@Model.Estado</td>
                <td>@Model.Hobbys</td>

            </tr>
        </tbody>
    </table>
            @*<h3><i>Cedula</i></h3>
            <label>@Model.Cedula<br /></label>

            <h3><i>Nombre</i></h3>
            <label>@Model.Nombre<br /></label>

            <h3><i>Apellido</i></h3>
            <label> @Model.Apellido <br /></label>

            <h3><i>Edad</i></h3>
            <label> @Model.Edad <br /></label>

            <h3><i>Correo</i></h3>
            <label>@Model.Correo</label>

            <h3><i>Telefono</i></h3>
            <label>@Model.Telefono</label>

            <h3><i>Genero</i></h3>
            <label>@Model.Genero</label>

            <h3><i>Estado Civil</i></h3>
            <label>@Model.Estado</label>

            <h3><i>Hobbys</i></h3>
            <label>@Model.Hobbys</label>


        </div>*@
    


